@font-face {
    font-family: 'AvenirNextCyr-Bold';
    src: url("../fonts/AvenirNextCyr-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Demi';
    src: url("../fonts/AvenirNextCyr-Demi.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Light';
    src: url("../fonts/AvenirNextCyr-Light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Medium';
    src: url("../fonts/AvenirNextCyr-Medium.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Regular';
    src: url("../fonts/AvenirNextCyr-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url("../fonts/HelveticaNeueCyr-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
