/*RESETS-------------------------------------------------------------------------------------------*/
@import "./node_modules/normalize.css/normalize";

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto';
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
/*-------------------------------------------------------------------------------------------------*/
/*GLOBAL-------------------------------------------------------------------------------------------*/
.main {
    font-size: 1.6rem;
}
/*-------------------------------------------------------------------------------------------------*/
/*HEADER-------------------------------------------------------------------------------------------*/
.header {
    position: relative;
    &__nav {
        position: absolute;
        z-index: 1;
        height: 5rem;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        opacity: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__title {
        position: absolute;
        color: #fff;
        text-shadow: 3px 3px 2px #000;
        left: calc(50% - 30rem);
        top: 50%;
        text-align: center;
    }
    &__video {
        width: 100%;
    }
}

.headerList {
    display: flex;
    &__link {
        padding: 1rem 1.2rem;
        text-transform: uppercase;
        transition: 0.5s ease;
        display: block;
    }
    &__item {
        border-right: 1px solid #fff;
    }
    &__item:last-child {
        border-right: none;
    }
    &__item:hover .headerList__link {
        background-color: #de5e60;
        transform: rotate3d(0,1,0,360deg);
    }
}
/*-------------------------------------------------------------------------------------------------*/
/*ABOUT-------------------------------------------------------------------------------------------*/
.about {
    display: flex;
    max-width: 130rem;
    &__leftSide {
        width: 50%;
        padding: 3rem 2rem 0;
    }
    &__rightSide {
        @extend .about__leftSide
    }
}
